@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.8;
    font-weight: lighter;
    margin: 1.4rem 0px;
}

h2 {
    line-height: 2;
    font-weight: bold;
    font-size: x-large;
}

h2.subheading {
    line-height: 2;
    font-weight: lighter;
}

h3 {
    line-height: 2;
    font-weight: bold;
    font-size: large;
    font-size: x-large;
}

h4 {
    line-height: 2;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    line-height: 2;
    font-weight: bold;
    font-size: xx-large;
}

h1.post-title {
    text-align: center;
}

a {
    font-weight: 500;
    color: rgb(93, 123, 255);
}

#content p a:hover {
    border-bottom: 2px solid ;
}

a.tag {
    display: inline-block;
    margin-right: 4;
    font-weight: 500;
    color: black;
    padding: 4px 14px;
    border-radius: 15px;
}

.light hr {
    margin-bottom: 2rem;
    opacity: 30%;
    color: #00aaa1;
}

.dark hr {
    margin-bottom: 2rem;
    opacity: 30%;
    color: #eee;
}

.dark #content a {
    color: #f4d06f;
}

.light #content a {
    color: #00aaa1;
}


/* pt-3 pb-5 font-body text-xl font-light text-black dark:text-white */